
  
<!-- Youtube -->
<section class="youtube">
  <div class="ratio ratio-16x9">
    <iframe
      src="https://www.youtube.com/embed/vlDzYIIOYmM?start=90&rel=0&autoplay=1&mute=0&controls=0&loop=1"
      title="YouTube video"
      allowfullscreen
    ></iframe>
    <div id="overlay" ><strong>CREATING <br>
      NEW GENERATION<br>
       TALENT POOL</strong></div>
  </div>
</section>

<div class="container">
<!-- Course and Carousal -->
<div class="row">
  <div class="col-lg-6 mt-5">
    <!-- Carousal -->
<section class="carousal">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <img src="https://wallpapercave.com/wp/AHUZkUm.jpg" class="d-block  w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images7.alphacoders.com/485/485364.jpg" class="d-block w-100" alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
  </div>
  <!-- Course Card -->
  <div class="col-lg-6 mt-5">
    <div class="card coursecard">
      <div class="card-body">
        <h1 class="card-title mb-6 text-light  text-light  fw-bold">
          Empower yourself with a climate action course
        </h1>
        <h5 class="card-text mb-5 text-light text-left  empower">
          Expand your knowledge of environmental issues and discover how you can make a difference. Explore our most popular climate action courses today.
        </h5>
      <button class="btn btn-success fw-bold pinkbutton text-left">FIND OUT MORE</button>

      </div>

    </div>
  </div>


</div>

<!-- Short courses -->
<div class="row">
  <div class="head col-lg-6 mt-5 mb-5">
    <h2 class="text-left">Short courses: <span class="fw-bold">bite-sized, <br>
      flexible learning</span></h2>
      <i class="fa-solid fa-grip-lines fa-4x"></i>
      <p class="fw-bold">
        Upskill, reskill or pursue a passion with short courses across every subject, whether you’re a beginner or already an expert.
      </p>
      <button class="btn viewcoursebutton text-light fw-bold">View all short courses</button>
  </div>
</div>

<!-- Course card -->
<div class="row ">
  <div class="card-group ">
    <div class="card margin">
      
      <img src="https://ugc.futurelearn.com/uploads/images/36/d6/header_36d68953-a00a-4f96-8016-7dc8607c7771.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-secondary">The Open University</p>
        <a href="#" class="stretched-link"></a>
        <h5 class="card-title mb-3">Introduction to Cyber Security</h5>
        <div class="details" >
        <i class="fa-regular fa-hourglass-half"><span class="clock ">8 hours</span></i>
      </div>
      <div class="lol">
        <i class="fa-solid fa-clock"><span class="clock clock2">3 hrs per week</span></i>
      </div>
      <div class="chips mt-5 ">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>IT & Computer Science</mat-chip>
      </mat-chip-list>
    </div>
    </div>
    </div>
   
    <div class="card margin" >
      <img src="https://ugc.futurelearn.com/uploads/images/fd/ee/header_fdee0391-6169-4d17-a80f-7825b6cc23ff.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-secondary">CIPD - Chartered Institute of Personnel and Development</p>
        <a href="#" class="stretched-link"></a>
        <h5 class="card-title mb-3">People Management Skills</h5>
        <div class="details" >
        <i class="fa-regular fa-hourglass-half"><span class="clock ">5 Weeks</span></i>
      </div>
      <div class="lol">
        <i class="fa-solid fa-clock"><span class="clock clock2">3 hrs per week</span></i>
      </div>
      <div class="chips mt-5 ">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>IT & Computer Science</mat-chip>
      </mat-chip-list>
    </div>
    </div>
    </div>

    <div class="card margin">
      <img src="https://ugc.futurelearn.com/uploads/images/e8/af/header_e8afd140-8fd8-4e1c-8742-0523519819ae.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-secondary">University of Reading</p>
        <a href="#" class="stretched-link"></a>
        <h5 class="card-title mb-3">Understanding Anxiety, Depression and CBT</h5>
        <div class="details" >
        <i class="fa-regular fa-hourglass-half"><span class="clock ">5 Weeks</span></i>
      </div>
      <div class="lol">
        <i class="fa-solid fa-clock"><span class="clock clock2">3 hrs per week</span></i>
      </div>
      <div class="chips mt-5 ">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>IT & Computer Science</mat-chip>
      </mat-chip-list>
    </div>
    </div>
    </div>

  </div>
</div>

<!-- Short courses -->
<div class="row">
  <div class="col-lg-6"></div>
  <div class="head col-lg-6 mt-5 mb-5">
    <h2 class="text-left">ExpertTracks: become an <br> <span class="fw-bold">expert in your industry
      </span></h2>
      <i class="fa-solid fa-grip-lines fa-4x"></i>
      <p class="fw-bold">
        Master new skills and specialise with these series of in-depth courses.
      </p>
      <button class="btn viewcoursebutton text-light fw-bold">View all Expert Tracks</button>
  </div>
</div>

<!-- Course card -->
<div class="row ">
  <div class="card-group ">
    <div class="card ">
      
      <img src="https:source.unsplash.com/WxRd7byFxs4"  class="card-img-top" alt="...">
      <div class="card-body">
        <!-- image overlay -->
        <div class="card-img-overlay">
          <img src="https://banner2.cleanpng.com/20180629/art/kisspng-coventry-university-bishop-grosseteste-university-ielts-logo-5b36ff41714df3.9293482215303309454641.jpg" width="100vw" alt="">
        </div>

        <p class="card-text text-secondary">Coventry University</p>
        <a href="#" class="stretched-link"></a>
        <h5 class="card-title mb-3">Team Building and Transformational Leadership: How to Get Ahead in Healthcare Leadership and Management</h5>
        <div class="details" >
        <i class="fa-regular fa-hourglass-half"><span class="clock ">10 Weeks</span></i>
      </div>
      <div class="lol">
        <i class="fa-solid fa-clock"><span class="clock clock2">5-8  hrs per week</span></i>
      </div>
      <div class="chips mt-5 ">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>Business and Management</mat-chip>
      </mat-chip-list>
    </div>
    </div>
    </div>
   
    <div class="card " >
      <img src="https:source.unsplash.com/G66K_ERZRhM"  class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-secondary">Central Queensland University</p>
        <a href="#" class="stretched-link"></a>
        <h5 class="card-title mb-3">Educational Neuroscience: Research-Led Teaching Approaches</h5>
        <div class="details" >
        <i class="fa-regular fa-hourglass-half"><span class="clock ">5 Weeks</span></i>
      </div>
      <div class="lol">
        <i class="fa-solid fa-clock"><span class="clock clock2">3 hrs per week</span></i>
      </div>
      <div class="chips mt-5 ">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>Teaching</mat-chip>
      </mat-chip-list>
    </div>
    </div>
    </div>

    <div class="card ">
      <img src="https://ugc.futurelearn.com/uploads/images/e8/af/header_e8afd140-8fd8-4e1c-8742-0523519819ae.jpg"  class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-secondary">University of Reading</p>
        <a href="#" class="stretched-link"></a>
        <h5 class="card-title mb-3">Understanding Anxiety, Depression and CBT</h5>
        <div class="details" >
        <i class="fa-regular fa-hourglass-half"><span class="clock ">5 Weeks</span></i>
      </div>
      <div class="lol">
        <i class="fa-solid fa-clock"><span class="clock clock2">3 hrs per week</span></i>
      </div>
      <div class="chips mt-5 ">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>IT & Computer Science</mat-chip>
      </mat-chip-list>
    </div>
    </div>
    </div>

  </div>
</div>

</div>