#overlay {
    background:#000;
    font-size: 4vw;;
    opacity:0.5;
    /*background:rgba(255,255,255,0.8); or just this*/
    z-index:50;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    text-align: center;
}


.coursecard{
    background-color: rgb(25, 25, 61);
}

.pinkbutton {
    background-color: rgb(234, 9, 255);
    border: 2px solid white
}
.pinkbutton:hover{
    background-color: white;
    color: rgb(234, 9, 255);
}
.viewcoursebutton{
    background-color: rgb(234, 9, 255);
    border: 2px solid white
}
.viewcoursebutton:hover{
    background-color: rgb(43, 43, 240);
    border: 2px solid white
}

.fa-grip-lines{
    color: rgb(234, 9, 255);
    
}
.details{
    display:inline;
    float: left;
}
.lol{
    display:inline;
    float: right;

}
.clock{
    padding-left: 0.5em;
    color: grey;
    font-family: 'Times New Roman', Times, serif !important;
}
.clock2{
    font-weight:100 !important;
    
}
.margin{
    margin: 3rem;
}
.textcolordarkblue{
    color: rgb(27, 27, 66);
}
.margin1{
    margin: 3rem;
}