<div [ngStyle]="{'background': 'linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%)'}">
<div class="container" >
    <div class=" mb-4 p-5 bg-success text-white rounded text-center">
        <h1>Course Name</h1>
        </div>
<div class="row">
    <!-- Main Dashboard -->
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="row">

        <!-- assignment submit -->
        <div class="col-lg-12 col-md-12 col-sm-12 ">
        <div class="card">
            <h3 class="card-title mt-3 text-center text-dark">Submit Assignment</h3>
            <div class="card-body">
                <form (ngSubmit)="onAssignmentSubmit()">
                    <div class="form-group" >
                        <label id='labelid' for="module">Choose a Module:</label>
                        <select name="module" [(ngModel)]="module" id="module" class="form-control form-select" >
                        <option value="1">Module 1</option>
                        <option value="2">Module 2</option>
                        <option value="3">Module 3</option>
                        <option value="4">Module 4</option>
                        <option value="5">Module 5</option>
                        <option value="6">Module 6</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group" >
                        <label id='labelid' for="link">Assignment Link : </label>
                        <input type="url" [(ngModel)]="link" name="link" id="link" class="form-control" placeholder="Paste Link Here">
                    </div>
                    <div class="form-group mt-4">
                        <button class="btn btn-success" type="submit"  id="button" value="Submit" ><strong>Submit Assignment</strong></button>
                    </div>
                
            </form>
                <!-- <div class="card-text mt-3 fw-bold">Last Date: 22/12/12</div> -->
            </div>
            </div>
        </div>

        <!-- View Marks -->
        <div class="col-lg-12 mt-5 col-md-12 col-sm-12 mb-5">
            <div class="card">
                <h3 class="card-title mt-3 text-center text-dark">View Assignment Marks</h3>
                <div class="card-body">
                    <div class='table-responsive'>
                        <table class='table'>
                              
                          <thead class="head">
                            <tr>
                              <th>Module</th>
                              <th>Assessed By</th>
                              <th>Marks</th>
                              <th>Feedback</th>
                            </tr>
                           
                          </thead>
                          <tbody>
                              <tr >
                                  <td>lol</td>
                                  <td>lol</td>
                                  <td>lol</td>
                                  <td class="text-area">Good Old Lol</td>
                                </tr>              
                          </tbody>
                        </table>
                        </div>
                </div>
                </div>
            </div>

    </div>
</div>
    <!-- Edit Profile -->
    <div class="col-lg-4  col-md-4 col-sm-12">
        <div class="card lol bg-info text-dark " >
            <img class="card-img-top img-fluid" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image">
            <div class="card-body">
            <h3 class="card-title text-center">{{username}}</h3>
            <p class="card-text text-center">About Student</p>
            <a href="" class="editbutton btn btn-success " type="submit"  id="button" value="Submit" ><strong>Edit Profile</strong></a>
        </div>
        </div>
    </div>
</div>
</div>
</div>
