<div class="container-fluid">
    <div class="mt-4 mb-4 p-5 bg-success text-white rounded text-center">
        <h1>Course Name</h1>
        </div>
<div class="row">
    <!-- assignment submit -->
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card">
            <h3 class="card-title text-center text-dark">Submit Assignment</h3>
            <div class="card-body">
                <div class="form">
                    <div class="form-group" >
                        <label id='labelid' for="module">Choose a Module:</label>
                        <select name="module" id="module" class="form-control form-select" >
                        <option value="1">Module 1</option>
                        <option value="2">Module 2</option>
                        <option value="3">Module 3</option>
                        <option value="4">Module 4</option>
                        <option value="5">Module 5</option>
                        <option value="6">Module 6</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group" >
                        <label id='labelid' for="link">Assignment Link : </label>
                        <input type="url" name="link" id="link" class="form-control" placeholder="Paste Link Here">
                    </div>
                    <div class="form-group mt-4">
                        <button class="btn btn-success" type="submit"  id="button" value="Submit" ><strong>Submit Assignment</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Profile -->
    <div class="col-lg-4 col-md-4 col-sm-12"></div>
</div>
</div>
